<div>
  <h3>CSC436 social-media project API</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Endpoint</th>
        <th>Method</th>
        <th>Example</th>
        <th>Sample response</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><i>/api/users</i><td>
        <td>POST</td>
        <td>https://csc436-project.herokuapp.com/</td>
        <td><pre>
{ "user": { 
    "first_name": "Ken", 
    "last_name": "Hibino",
    "email": "ken@example.com",
    "password" : "userspassword",
    "password_confirmation": "userspassword"
   }
}</pre></td>
        <td>This endpoint is for user to sign up</td>
      </tr>
      <tr>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </tbody>
  </table>
</div>
